.sidebar {
    position: relative;
    min-height: calc(100% - 7rem);
    width: 250px;
    background-color: #fff;

    &__logo {
        display: grid;
        place-items: center;
        height: 120px;
        font-size: 1.5rem;
        font-weight: 700;
        font-family: 'Mochiy Pop P one', sans-serif;
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: 400;
            color: #aaa;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #000;
            }

            &__icon {
                margin-right: 1rem;

                i {
                    font-size: 1.75rem;
                }
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: 100%;
            border-radius: 10px;
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }
}