.content{
   margin: 0 auto;
   margin-top: 30px;
}

.title{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.noOfStaffs{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.add_staff_button{
    margin-top: 5px;
}


.add-more-btn{
    padding-left: 80%;
    margin-bottom: 20px;
}

.staff-header{
    padding-left: 2%;
}

.icon-arrow{
    transform: translate(0%, 50%);
    cursor: pointer;
}

.icon_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.detail_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(-2%,0%);
}

.detail_flexbox .left-column{
    flex: 0 0 15%;
    padding-top: 2.5rem;
    border-right: 1px solid #e5e5e5;
}

.detail_flexbox .right-column{
    flex: 0 0 80%;
    padding-bottom: 75px;
}

.add-single-staff{
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 30px;
}

.add_staff_button{
    transform: translate(46%, -30%);
}

.success{
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.success .staff-header{
    transform: translate(0%, 36%);
    font-style: italic;
}

.icon-check{
    transform: translate(0%, 55%);
    font-size: larger;
    margin-left: 2%;
    color: green;
}
.icon-wrong{
    transform: translate(0%, 30%);
    font-size: larger;
    margin-left: 2%;
    color: red;
}

.wrong-text{
    margin-left: 10%;
    transform: translate(0%, 5%);
    font-style: italic;
    color: red;
}
.right-text{
    color: green;
}