.content{
   margin: 0 auto;
   margin-top: 30px;
}

.title{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.noOfStaffs{
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.button_style{
    margin-top: 15px;
}