.detail_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(-2%,0%);
}

.detail_flexbox .left-column{
    flex: 0 0 15%;
    padding-top: 2.5rem;
    border-right: 1px solid #e5e5e5;
}

.detail_flexbox .right-column{
    flex: 0 0 80%;
    padding-bottom: 75px;
}