
.staff-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 0.8rem;
}

.staff-container-header h2{
    display: inline-block;
    margin: 0
}

.staff-container-header button, .role-container-header button{
    color: white;
    background-color: #e41727;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    /* width: 6rem; */
    margin-left: 1rem;
}

.role-container{
    background-color: white;
    min-height: inherit;
    margin-top: 1rem;
    border-radius: 0.7rem;  
    padding: 1rem 2rem;
    width: 100%;
}

.role-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1.2rem;
    padding: 1rem;
}

.person-info{
    border: 1px solid grey;
    border-radius: 0.3rem;
    padding: 1rem 1rem;
    margin: 0 1rem;
    flex: 0 0 20%;
    margin-bottom: 40px;
}

.person-info-body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.person-info img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-size: contain;
}

.dropdown-toggle::after {
    content: none;
}

.person-info button{
    background-color: white;
    color: black;
    border: none;
    position: absolute;
    top: 0;
    right: -10px;
}

.person-info button:hover, .person-info button:active{
    background-color: white;
    color: black;
}

.detail_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(-2%,0%);
}

.detail_flexbox .left-column{
    flex: 0 0 15%;
    padding-top: 2.5rem;
    border-right: 1px solid #e5e5e5;
}

.detail_flexbox .right-column{
    flex: 0 0 80%;
    padding-bottom: 75px;
}