.detail_flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translate(-2%,0%);
    min-height: 100%;
}

.detail_flexbox .left-column{
    flex: 0 0 15%;
    padding-top: 2.5rem;
    border-right: 1.5px solid #e5e5e5;
    min-height: 100vh
}

.detail_flexbox .right-column{
    flex: 0 0 80%;
    padding-bottom: 75px;
}

.sidebar-icons{
    font-size: larger;
    transform: translate(0%, -8%);
}

.sidebar-icon-title{
    color: black;
    font-family: Arial;
    font-weight: 450;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-icon-title:hover{
    font-weight: 550;
}

.active-item{
    background: #B1BDBE;
    border-radius: 5px;
    padding-left: 8%;
    padding-right: 8%;
}

.inactive-item{
    padding-left: 8%;
    padding-right: 8%;
}

.event-sidebar{
    position: sticky;
    top: 0;
}


.event-page-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
    margin-top: 50px;
}
.event-page-header .event-name{
    color: #8C3522;
    font-weight: 600;
    flex: 0 0 30%;
}

.event-thumbnail{
    flex: 0 0 66%;
    transform: translate(20%, 0%);
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
}

.thumbnail-image-style{
    transform: translate(0%, -20%);
    border: 1.5px solid black;
    height: auto;
    object-fit: cover;
}

.thumbnail-title{
    transform: translate(-10%, 6%);
    color: #8C3522;
    font-family: Arial;
    font-weight: 550;
    font-size: 1.57rem;
}