.staff-container{
    min-height: inherit;
    margin: 1rem 1rem;
    padding: 1rem 2rem;
    width: 100%;
}

.staff-container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 0.8rem;
}

.staff-container-header h2{
    display: inline-block;
    margin: 0
}

.staff-container-header button{
    color: white;
    background-color: #e41727;
    height: 40px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    width: 6rem;
    margin-left: 1rem;
}

.role-container{
    background-color: white;
    min-height: inherit;
    margin: 1rem 1rem;
    border-radius: 0.7rem;  
    padding: 1rem 2rem;
    width: 100%;
}

.person-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.person-info{
    border: 1px solid grey;
    padding: 1rem 1rem;
    margin: 0 1rem;
    width: 27%;
}

.person-info img{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-right: 1rem;
}