.title{
    /* margin-top: 50px; */
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    color: aquamarine;
}

.inputfield{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.label{
    margin-bottom: 10px;
}

.button_style{
    width: 10%;
    height: 50px;
    margin-top: 40px;
    margin-left: 45%;
    margin-right: 45%;
    color: white;
    background-color: blue;
}

.selectfield{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.datepickerfield{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.datepicker_style{
    width: 100%;
}