.title{
    margin-bottom: 30px;
    text-align: center;
    /* font-weight: 600;
    color: black; */
}

.inputfield{
    /* margin-top: 20px; */
    margin-bottom: 20px;
}

.label{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.button_style{
    height: 50px;
    margin-top: 40px;
    color: white;
    background-color: blue;
    padding-left: 4%;
    padding-right: 4%;
}

.selectfield{
    margin-top: 20px;
}

.datepickerfield{
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
}

.datepicker_style{
    width: 100%;
}