.sub-container{
    background-color: white;
    min-height: inherit;
    margin: 2.5rem 3.5rem;
    margin-bottom: 75px;
    border-radius: 0.7rem;  
    padding: 1rem 2rem;
    padding-bottom: 3rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

.text-container{
    text-align: center;
}

.card{
    margin: 5rem 0;
}
.card-header{
    font-size: 3rem;
}